<header>
  <h1>Welcome to Smileyblog!</h1>
  <% if logged_in? %>
    <%= link_to 'logout', admin_session_path(current_user), method: :delete %>
  <% end %>
</header>

<div id="main_container">
</div>

<footer>
  <p>Created by Eiko Seino</p>
</footer>
